# Predicting Forest Fires Area in Portugual


### Data Exploration

In [5]:
df_fires <- read.csv(file="forestfires.csv", header=TRUE, sep=",")

In [6]:
# First look at the data 
head(df_fires)

  X Y month day FFMC DMC  DC    ISI  temp RH wind rain area
1 7 5 mar   fri 86.2 26.2  94.3  5.1  8.2 51 6.7  0.0  0
2 7 4 oct   tue 90.6 35.4 669.1  6.7 18.0 33 0.9  0.0  0
3 7 4 oct   sat 90.6 43.7 686.9  6.7 14.6 33 1.3  0.0  0
4 8 6 mar   fri 91.7 33.3  77.5  9.0  8.3 97 4.0  0.2  0
5 8 6 mar   sun 89.3 51.3 102.2  9.6 11.4 99 1.8  0.0  0
6 8 6 aug   sun 92.3 85.3 488.0 14.7 22.2 29 5.4  0.0  0

In [14]:
# First look at the data - descriptive stats
summary(df_fires)

       X               Y           month      day          FFMC
 Min.   :1.000   Min.   :2.0   aug    :184   fri:85   Min.   :18.70
 1st Qu.:3.000   1st Qu.:4.0   sep    :172   mon:74   1st Qu.:90.20
 Median :4.000   Median :4.0   mar    : 54   sat:84   Median :91.60
 Mean   :4.669   Mean   :4.3   jul    : 32   sun:95   Mean   :90.64
 3rd Qu.:7.000   3rd Qu.:5.0   feb    : 20   thu:61   3rd Qu.:92.90
 Max.   :9.000   Max.   :9.0   jun    : 17   tue:64   Max.   :96.20
                               (Other): 38   wed:54
      DMC              DC             ISI              temp
 Min.   :  1.1   Min.   :  7.9   Min.   : 0.000   Min.   : 2.20
 1st Qu.: 68.6   1st Qu.:437.7   1st Qu.: 6.500   1st Qu.:15.50
 Median :108.3   Median :664.2   Median : 8.400   Median :19.30
 Mean   :110.9   Mean   :547.9   Mean   : 9.022   Mean   :18.89
 3rd Qu.:142.4   3rd Qu.:713.9   3rd Qu.:10.800   3rd Qu.:22.80
 Max.   :291.3   Max.   :860.6   Max.   :56.100   Max.   :33.30

       RH              wind            rain              area
 Min.   : 15.00   Min.   :0.400   Min.   :0.00000   Min.   :   0.00
 1st Qu.: 33.00   1st Qu.:2.700   1st Qu.:0.00000   1st Qu.:   0.00
 Median : 42.00   Median :4.000   Median :0.00000   Median :   0.52
 Mean   : 44.29   Mean   :4.018   Mean   :0.02166   Mean   :  12.85
 3rd Qu.: 53.00   3rd Qu.:4.900   3rd Qu.:0.00000   3rd Qu.:   6.57
 Max.   :100.00   Max.   :9.400   Max.   :6.40000   Max.   :1090.84